################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/alipay-sdk-NET20170615110549/obj/Debug
/keys
